@model FirstWebApp.Models.MarkOfTeacher

@{
    ViewData["Title"] = "Create";
}



  <h1>  Оцінити викладача</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mark" class="control-label">Оцінка</label>
                <input asp-for="Mark" class="form-control" />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="TeacherName" class="control-label">Ім'я викладача</label>
                <input asp-for="TeacherName" class="form-control" />
                <span asp-validation-for="TeacherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Оцінити" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутись назад</a>
</div>

