@model IEnumerable<FirstWebApp.Models.MarkOfTeacher>

@{
    ViewData["Title"] = "Index";
}

<h1>   </h1>
<p>
    <a asp-action="Create">Оцінити викладача</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                Оцінка
            </th>
            <th>
                Викладач
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>







        <tr>


            <td>
                5.5
            </td>
            <td>
                Трухан Ю.С
            </td>

        </tr>
        <tr>
            <td>
                5.5
            </td>
            <td>
                Борисюк Я.Є
            </td>


        </tr>

        <tr>
            <td>
                2.0
            </td>
            <td>
                Щербатий В.М
            </td>


        </tr>
        <tr>
            <td>
                4.0
            </td>
            <td>
                Лопушанська Г.П
            </td>


        </tr>







    </tbody>
</table>