@model IEnumerable<FirstWebApp.Models.MarkOfTeacher>

@{
    ViewData["Title"] = "Index";
}

<h1>   </h1>
<p>
    <a asp-action="Create">Оцінити викладача</a>
</p>



<tableclass="table">
    <thead>
        <tr>
            <th>
                Оцінка
            </th>
            <th>
                Викладач
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model)
        {

            @for (int i = 0; i < @ViewBag.TeacherCount; i++)
            {



                <tr>

                    <td>
                        @await Component.InvokeAsync("BestPhone")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherName)
                    </td>

                </tr>
            }
            break;
        }
    </tbody>
</table>