@model IEnumerable<FirstWebApp.Models.Subjects>

@{
    ViewData["Title"] = "Index";
}



@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<h1>  </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва предмету
            </th>
            <th>
                Оцінка
            </th>
            <th>
                Вкладач
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>

        </tr>
}
    </tbody>
</table>
