@model IEnumerable<FirstWebApp.Models.Subjects>

@{
    ViewData["Title"] = "SubjectQuery";
}

<h2>Pозклад</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                <p>dni tyzhnya</p>
            </th>
            <th>
                <p>nazva predmetu</p>
            </th>
            <th>
                <p>auditoiya</p>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in ViewBag.Subjects)
        {
            int i = 3;
            if (true)
            {

            }

            if (item.TeacherId == ViewBag.userChoiseId)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Audithory
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
