@model IEnumerable<FirstWebApp.Models.Subjects>

@{
    ViewData["Title"] = "SubjectQuery";
}

<h2>Pозклад</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                <p>День Тижня</p>
            </th>
            <th>
                <p>Назва предмету</p>
            </th>
            <th>
                <p>Аудиторія</p>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.Subjects)
        {
            int i = 3;
            if (true)
            {

            }

            if (item.TeacherName == ViewBag.userChoiseName)
            {
                <tr>
                    <td>
                        @item.DayOfWeek
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Audithory
                    </td>
                </tr>

            }
        }
    </tbody>
</table>